body{
   margin:50px;
   padding:0px;
   background-color: rgb(253, 253, 196);
}
button{
    padding:10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
input{
    padding:10px 5px;
    border-radius: 10px;
    cursor: pointer;
}


#navBar{
    background-color: aqua;
}

#interactionWindow {
    background-color: aquamarine;
}
#codesWindow {
    background-color: rgb(215, 171, 255);
}
#displayWindow{
    background-color: rgb(228, 226, 226);
    margin:20px;
    padding:20px;
    border-radius: 10px;
}

#currentReferenceWindow{
    background-color: rgb(243, 199, 199);
}
#currentSelectionContainer{
    background-color: rgb(107, 107, 250);
    display:block;

}
#currentCodeDisplay{
    background-color: rgb(136, 136, 247);
}
#interactionContainer{
    display:block;
}
#documentContainer{
    background-color: rgb(180, 247, 247);
}
#referencesContainer{
     background-color: rgb(248, 159, 159);
}
